<div id="scale-question">
  <table>
    <tr>
      <td></td>
      <% for answer in @answers do %>
      <th><%= answer.description.gsub('-','') %></th>
      <% end %>
      <td></td>
    </tr>
    <tr>
      <th class="scale-header"><%= @scale.lower %></th>
      <% for answer in @answers do %>
      <td><%= radio_button_tag 'answer', answer.id %></td>
      <% end %>
      <th class="scale-header"><%= @scale.higher %></th>
    </tr>
  </table>
</div>
