<% company = local_assigns[:company] %>

<p><%= link_to "Gr치fico comparativo con la mejor empresa del subsector", {:action => :show, :id => "company_subbest_#{company.id}"}, {:method => :get} %></p>

<p><%= link_to "Gr치fico comparativo con la peor empresa del subsector", {:action => :show, :id => "company_subworst_#{company.id}"}, {:method => :get} %></p>


<p><%= link_to "Gr치fico comparativo con la mejor empresa del sector", {:action => :show, :id => "company_best_#{company.id}"}, {:method => :get} %></p>

<p><%= link_to "Gr치fico comparativo con la peor empresa del sector", {:action => :show, :id => "company_worst_#{company.id}"}, {:method => :get} %></p>
