<% company = local_assigns[:company] %>

<% if company.averages %>

<p><%= link_to "Empresa del subsector con mayor rendimiento", {:action => :show, :id => "company_subbest_#{company.id}"}, {:method => :get} %></p>

<p><%= link_to "Empresa del subsector de más bajo rendimiento", {:action => :show, :id => "company_subworst_#{company.id}"}, {:method => :get} %></p>


<p><%= link_to "Empresa del sector con mayor rendimiento", {:action => :show, :id => "company_best_#{company.id}"}, {:method => :get} %></p>

<p><%= link_to "Empresa del sector con  más bajo rendimiento", {:action => :show, :id => "company_worst_#{company.id}"}, {:method => :get} %></p>

<% else %>

<em>Ningún usuario de la compañía ha realizado la encuesta. No hay resultados para mostrar.</em>

<% end %>
