<% user = local_assigns[:user]%>

<% if user.survey_records.last %>
<p><%= link_to "Gráfico comparativo a través del tiempo", :action => :show, :id => "user_time_#{user.id}" %></p>
 
<p><%= link_to "Gráfico promedio", {:action => :show, :id => "user_average_#{user.id}"}%></p>
 
<p><%= link_to "Tabla de las últimas respuestas", survey_record_path(user.survey_records.last)%></p>

<% if SurveyRecord.count(:conditions => {:user_id => user.id}) >= 2 %>
<p><%= link_to "Tabla comparativa de respuestas", compare_survey_record_path(user)  %></p>
<% else %>
<br />
<em>* Para ver la tabla comparativa, debe realizar por lo menos 2 encuestas</em>
<% end %>

<% else %>
<em>El usuario no ha llenado ninguna encuesta.</em>
<% end %>
