<h2>Pulse para mostrar el gráfico comparativo a través del tiempo</h2>
<%= button_to "Ver", { :action => :show, :id => 'user_time' }, { :method => :get } %>

<h2>Pulse para mostrar el gráfico promedio</h2>
<%= button_to "Ver", { :action => :show, :id => 'user_average' }, { :method => :get } %>
