<div class= "result">
 <h1>Resultados</h1>
  <div id="graph">
    <%= @graph %>
  </div>
</div>


<ol>
  <% for aspect in @aspects do %>
  <li><%= aspect.name %></li>
  <% end %>
</ol>

<br />
<%= link_to "Volver", :action => :index %>
<% session[:chart] = nil %>
