<% title "Encuestas de evaluación" %>
<table>
<th>Usuario</th>
<th>Comentario</th>

<% for survey_rec in @survey_records do %>
  <tr>
  <td><%= survey_rec.user.username%></td>
  <td><%= survey_rec.comment%></td>
  <td><%= link_to "Ver detalle", survey_rec %></td>
  </tr>
<% end %>
</table>
