<% title "Tabla de respuestas para #{@survey_record.user.full_name}" %>
<div class = "table">
  <table>
      <tr>
	<th>Número</th>
	<th>Pregunta</th>
	<th>Respuesta</th>
      </tr>
    <%  @questions.zip(@answers) do |q, a| %>
    <tr>
      <td><%= q.number %></td>
      <td>
	<%= q.description %>
	<%= question_additional_info q %>
      </td>
      <td>  
	<%= list_for_answers a %>
      </td>
    </tr>
    <% end %>
  </table>
</div>


