<div id= "aux"><h1>Bienvenido a HDW</h1></div>
<div id= "all-index">
<div id = "introduction">
<p> El proceso de diseño y desarrollo de nuevos productos involucra diferentes áreas de una empresa lo que lo hace una actividad compleja que necesita  ser gerenciada igual que otras áreas estratégicas de la misma.</p>
<p>Conocer, medir y evaluar los aspectos involucrados en el proceso de diseño y desarrollo de nuevos productos es una prioridad en las empresas que,  en el contexto mundial y nacional, dichas empresas han logrado posicionar el diseño como una actividad estratégica que genera valor a la empresa y a los productos que desarrolla.</p>
<p>En este sentido, la línea de investigación en Gestión e Innovación en Diseño (GID) del Grupo de Investigación en Ingeniería de Diseño (GRID) de la Universidad EAFIT, ha venido trabajando en el desarrollo de instrumentos para la realización diagnósticos del proceso de diseño y desarrollo de nuevos productos en empresas de manufactura. Uno de resultados de la aplicación de estas herramientas ha sido el poder comparar la situación de las empresas participantes en el diagnóstico, con las mejores prácticas mundiales.</p>
<p>Esta herramienta tiene como objetivo facilitar una orientación diagnóstica sobre cual es la situación actual de la empresa en cuanto a la gestión del diseño en la misma, y al mismo tiempo destacar aquellos aspectos que se podrían mejorar. Está dividida en 5 aspectos: 
<p>•	Aspectos estratégicos </p>
<p>•	Aspectos de la estructura de la organización</p>
<p>•	Aspectos relacionados con las personas de la organización</p>
<p>•	Aspectos del proceso y diseño y desarrollo de nuevos productos</p>
<p>•	Aspectos relacionados con reconocimientos. </p>

<p>Para iniciar esta encuesta es necesario que previamente suministre información acerca de su empresa y luego sobre usted. 
El tiempo de respuesta es de aproximadamente 15 minutos.</p>
</div>
<div id= "index">
  <div class = "index-companies">
    <h3>Empresas</h3>
    <p><%= link_to "Registrar empresa", new_company_path %></p>
    <p><%= link_to "Actualizar informacion de la empresa", admin_company_path %></p>
  </div>

  <div class= "index-users">
    <h3>Ingreso de usuarios</h3>
    <p><%= link_to "Iniciar sesion", login_path %></p> 
  </div>
</div>
</div>
