<div id= "aux"><h1>Bienvenido a HDW</h1></div>
<div id= "index">
  <div class = "index-companies">
    <h2>Administración de empresas</h2>
    <p><%= link_to "Registrar empresa", new_company_path %></p>
    <p><%= link_to "Actualizar informacion de la empresa", admin_company_path %></p>
  </div>

  <div class= "index-users">
    <h2>Ingreso de usuarios</h2>
    <p><%= link_to "Iniciar sesion", login_path %></p> 
  </div>
</div>
