body {
  background-color: #fff;
  font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
  margin: 0px;
  min-width: 950px;
  height: 100%;
  font-size:13px;
  line-height: 18px;
  letter-spacing: 0px;
}

a img {
  border: none;
}

a { color: #0000FF;}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #999;
  border: solid 1px #E6E6FA;
}

#flash_error {
  background-color: rgba(192,192,192,0.4);
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

div.clear {
    clear:both;
}
div.manejo {
    text-align:center; 
    background-color:#D3D3D3;
    height:30px;
    padding:5px;
}
div.form{
    width:50%;
    float:left;
    border-right:1px solid #A3A3A3;
}
div.auxiliar {
    width:650px;
}

/*INDEX*/

div#all-index{
    background-color:#000;
}
div#index{
    margin-top:20px;
    margin-left:20px;
    background-color: rgba(192,192,192,0.4);
    -moz-border-radius: 15px;
    height:240px;
    width:240px;
    float:left;
    padding:10px;
}
div#index  a {
    color:#000 !important;
    font-size:15px; 
    text-decoration:none;
} 
div#index a:hover {
    text-decoration:underline;
}


/*CONTENT*/
div#content{
    margin-left:10px;
    width:75%;
    min-height:400px;
    float: right;
}
div#content a {
    color:#333333 !important;
    font-size:15px; 
    text-decoration:none;
}
div#content a:hover {
    text-decoration:underline;
}
/*CENTER*/

div.users_list {
    float:right; 
    margin: 5px}
div.users_list h3 {
    margin: 5px;
}
div.center h1{text-align:center;}
div.center a {
    color:#333333 !important;
    font-size:15px; 
    text-decoration:none;
}
div.center a:hover {
    text-decoration:underline;
}
div.center{
    margin-top:40px;
    margin-left:20%;
    text-align:left;
    width:500px;
    height:250px;
}
div.information {
    width:250px;
    float:left;
    border-right:1px solid #A3A3A3;
}
div.information p {
    margin:5px;
}
div.information h3 {
    margin:5px;
}
div.company{
    border-bottom:1px solid #A3A3A3;
}

/*LOGINS*/
div.login{
    margin-left:20%;
}
div.loging h1{
    text-align:center:
}
/* QUESTION */
div.question-description{
    margin-left:8%;
}
div.answers{
    /*border: 1px solid #A3A3A3;*/
    margin-left: 4%;
}
div.answer{
    border-bottom: 1px solid #A3A3A3;
    width:260px;
}

/*CHART*/
div#graph{
    margin-top:50px;
    margin-left:20%;
}

div.result h1 { 
    padding:50px;
    text-align:center;
}

