<% title "#{@company.name}" %>
<div id="company-show">
  <div id="company-info">
    <p>
      <strong>Nit:</strong>
      <%=h @company.nit %>
    </p>
    <p>
      <strong>Correo electrónico:</strong>
      <%=h @company.email %>
    </p>
    <p>
      <strong>Teléfono:</strong>
      <%=h @company.telephone %>
    </p>
  </div>
  <div id="welcome-company">
    <p>Bienvenido al módulo de gestión de empresa. Para ver los resultados comparativos de las encuestas realizadas por los usuarios, diríjase a la opción <em>Ver resultados</em> del menú. Si desea ver la información de los usuarios registrados en la empresa, así como editar información de los mismos, puede ir a la opción <em>Gestión de usuarios</em>.</p>
  </div>
</div>
