<% title "Encuesta" %>

<br />
<div id="survey-index">
  <h2>Cómo funciona esta encuesta</h2>
  
  <p>Esta encuesta está estructurada en 5 aspectos, es necesario contestar todas las preguntas de cada aspecto antes de continuar con el siguiente, una vez contestados los 5 aspectos la herramienta presenta un informe de resultados. Éste da una puntuación global sobre cual es la situación de la Gestión del Diseño y el proceso de diseño y desarrollo de nuevos productos.
    Interpretación de resultados</p>
  
  <p>Una vez finalizada la encuesta usted encontrara varios tipos de resultados: como usuario y como empresa, y además resultados comparativos según el subsector al que pertenece y según el sector manufactura, las comparaciones podrá verse según la empresa de mejor y menor rendimiento</p>
  
  <%= button_to "Continuar", {:action => :show}, {:method => :get} %>
  
</div>
