<div id="all-index">
    <div id= "index">
      <p><%= link_to "Pagina principal", root_url%></p>
      <% if admin_company?(current_company) or admin_company_user?(current_user) %>
      <%= render :partial => 'layouts/index_admin' %>
    <% else %>
    <%= render :partial => 'layouts/index_company'%>
      <%= render :partial => 'layouts/index_users' %>
      <% end %>
    </div>
</div>

<div id="overlay">
    <div class= contentWrap></div>
</div> 

